@using SpellWork.DBC
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@(DBC.Version)</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="spell/info" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Spell Info
            </NavLink>
        </div>

        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="spell/proc"> *@
        @*         <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Spell Proc Event *@
        @*     </NavLink> *@
        @* </div> *@
        @* *@
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="spell/compare"> *@
        @*         <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Compare Spells *@
        @*     </NavLink> *@
        @* </div> *@
        @* *@
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="sql"> *@
        @*         <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>SQL Data *@
        @*     </NavLink> *@
        @* </div> *@
    </nav>
</div>